<div class="container">
  <h2>Student List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Subject Code</th>
      <th>Instructor Name</th>
      <th>Email</th>
      <th>Marks</th>
      <th>Image URL</th>
      <td>Course Cost</td>
      <th>Enrollment Date</th>
      <th>Is Admin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courseList" [routerLink]="['/courses',course.id ]">
      <td>{{ course.id }}</td>
      <td>{{ course.subjectCode | uppercase}}</td>
      <td>{{ course.instructorName | titlecase}}</td>
      <td>{{ course.email | lowercase}}</td>
      <td>{{ course.marks }}</td>
      <td>{{ course.imageUrl }}</td>
      <td>{{ course.courseCost | currency:"USD" }}</td>
      <td>{{ course.courseEnrollmentDate | date: 'longDate' }}</td>
      <td>{{ course.isAdmin ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

</div>
